ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}
li{
    list-style-type: none;
    /* width: 100%; */
    box-shadow: 2px 2px 5px #888888;
    margin-bottom: 10px;
    padding: 10px;
    

}
li h3{
    text-align: left;
}
li p {
    text-align: left;
}
.blogsCon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.blogsCon h1{
    margin: 20px 0;

}
.blogsCon .loader{
    text-align: center;
    margin-top: 50%;
 }

 @media screen and (max-width: 768px){
    .blogsCon .circles-loading{
       margin:auto;
    }
    ul{
        width: 100%;
      
       
        
    }
    li{
       width: 90%;
       
    }
 }