.blogsCon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.blog{
    list-style-type: none;
    box-shadow: 2px 2px 5px #888888;
    padding: 10px;
    border-radius: 5px;

}
.blog p {
    text-align: left;
}
.blog h3{
    text-align: left;
}
.myBlogscon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.buttonsCon{
    display: flex;
    justify-content: right;
    cursor: pointer;
}
.buttonsCon button{
   margin-left: 20px;
}
.tiletimeCon{
    display: flex;
    justify-content: space-between;
}
.tiletimeCon p{
    color: gray;
}